[2019-01-07 12:39] MichaelReh opened #8 "Setting error parameter e to 0"
I unintentionally set the value e in volume_example.cpp in the develop branch to 0 (missing out it is an int and setting it to a value smaller 1). This led to consumption of my complete memory and ultimately crashed the code.

[2019-04-30 04:52] arbenede opened #13 "CMake build error under Windows"
When I try to build the solution using CMake under Windows 10 I get this error:

Configuring incomplete, errors occurred!

I have defined a new DLP_SOLVE CMake variable as described in the documentation.

[2019-05-06 08:38] vissarion commented on #13
Thanks for pointing this out! We currently not support Windows for the c++ library but there is a number of workarounds if you want to try. First, use the R api for windows which is well tested and should work. Second, try to link `lp_solve` in windows (I am guessing that's the problem), e.g. see http://lpsolve.sourceforge.net/5.5/Build.htm Also could you please provide more info on your setup? Wh

[2019-05-15 04:27] arbenede commented on #13
I was able to get past linking the lp_solve DLL however I am still getting lots of compilation errors. I am using Visual Studio C++ 2017 under Windows 10. (log is below)

Thanks!
[code]

[2019-05-16 15:55] arbenede opened #18 "Where are the samples stored?"
I am trying to use vol under Linux to generate uniform random samples from a polytope but I can't figure where the samples are stored. If I run for example

[code]
I get

[code]

[2019-05-16 18:46] TolisChal commented on #18
Hello,

In C++ interface there is not a structure or a txt that the points are
stored into. I think the easiest way is to print the points on terminal.
You can add in /test/vol.cpp at line 456 (before return 0;) the following:

for (typename std::list<Point>::iterator pit = randPoints.begin();
pit!=randPoints.end(); ++pit) (*pit).print();

You can also use the CRAN R package volesti (
https://cran

[2019-05-16 23:14] arbenede commented on #18
Thank you Tolis, that's exactly what I was looking for.

[2019-05-16 23:14] #18 closed

[2019-06-04 07:06] arbenede opened #25 "vol aborting during computation of 3D prism volume"
vol aborts with an error when I try to compute the volume of a prism in R^3 (see .ine file below):

[code]

prism.ine:
[code]

[2019-06-04 08:56] TolisChal commented on #25
The problem here is that the coefficients in ine file are separated with tabs. The PR here https://github.com/GeomScale/volume_approximation/pull/26 fixes this bug.
Of course you can also separate the coefficients with space.

[2019-06-04 09:27] #25 closed

[2019-06-12 06:02] arbenede opened #27 "Error in 3D prism volume computation?"
I am trying to compute the volume of a simple 3D prism using vol (the .ine file is below). I know that the volume of the prism is approximately equal to 0.0118 (area of the polygonal base X height=1). I have run vol from the latest development branch with different values of the error tolerance:

[code]

and from these runs it seems that the volume computed by vol might be off by a factor 2. Or is

[2019-06-12 22:27] arbenede commented on #27
I made a few more tests:

1. I run the same problem with the MATLAB code by Cousins and Vempala, obtaining a very similar value for the volume (0.0204) (???)
2. I ran vol only on the base of the prism, getting as expected the same value (height=1)
3. I ran vol in sampling mode on the base of the prism and verified that it is sampling correctly (at least in this 2D subproblem)
4. I have re-scaled a

[2019-06-13 08:54] vissarion commented on #27
You probably computed the exact volume incorrectly or you have some typo in you input file. Using [vinci](https://www.math.u-bordeaux.fr/~aenge/index.php?category=software&page=vinci) with your ine file I computed `2.037424855427e-02` with is pretty close to the numbers you computed above with our package. So if you agree I am closing the issue.

[2019-06-13 08:54] #27 closed

[2019-07-18 11:18] vissarion opened #33 "Volume of intersection of two V-polytopes crashes"
The following crashes with the R-package version 1.0.2
[code]

[2019-10-17 12:13] vissarion opened #46 "Improve documentation"
I open this to post a few issues related to the improvement of the R interface documentation.

Generators: explain exactly what you generate, e.g. GenSkinnyCube doesn't say anything about the generated cube.

Rouding:
-- Fix examples in round_polytope (they say "rotate")
-- typos in description
-- references to min ellipsoid method (implementation + paper)

[2019-11-18 08:55] vissarion commented on #46
`fileToMatrix` function should be renamed to `fileToPolytope`

[2019-12-22 18:18] Svankah opened #51 "How to compute the intersection of V-polytopes"
Is there a function that does the intersection of V-polytopes, like it is stated for the class IntVP?

[2019-12-23 08:41] TolisChal commented on #51
You will need the R version of package `volesti` for the intersection of two V-polytopes.
You should use the function `volume`. Store the vertices of the polytopes, row-wise, in two matrices V1, V2. Then define the polytope as below,

`> P = IntVP$new(V1 = V1, V2 = V2) `

[2019-12-23 10:45] Svankah commented on #51
Where should I use the function volume? Since I defined P doing this

Then

C++ object <0x7f92030d6020> of class 'IntVP' <0x7f91fe85c7e0>

How to obtain the vertices of the intersection of the 2 polytopes?

Thank you.

Le 23 décembre 2019 à 9:41, Tolis Chalkis <notifications@github.com> a écrit :

You will need the R version of package volesti for the intersection of two V-polytopes.
You should us

[2019-12-23 10:58] TolisChal commented on #51
`volesti` does not compute the vertices of such a polytope. You can compute (approximately) the volume or sample from it.

[2019-12-23 11:07] Svankah commented on #51
Thank you !

[2019-12-23 11:48] TolisChal commented on #51
Thank you for your interest. I close this issue.

[2019-12-23 11:48] #51 closed

[2020-01-07 08:13] vissarion commented on #51
@Svankah the function `intersectn` from  R package `geometry` should do what you want. See https://cran.r-project.org/web/packages/geometry/geometry.pdf

[2020-02-24 11:00] #33 closed

[2020-02-26 20:38] TolisChal commented on #8
This issue is fixed by PR https://github.com/GeomScale/volume_approximation/pull/60

[2020-02-26 20:38] #8 closed

[2020-02-27 09:48] #46 closed

[2020-02-27 21:38] vaithak opened #62 "Fatal error: 'ellipsoids.h' file not found"
**Describe the bug**
Problem in installing the R-interface.

**To Reproduce**
Steps to reproduce the behavior:
I followed the given steps:
-> Install package-dependencies: Rcpp, RcppEigen, BH, lpSolveAPI
-> change working directory to "volume_approximation/R-Proj" using setwd
-> Ran these commands
[code]

**Desktop:**
 - macOS Catalina

[2020-02-28 10:18] vissarion commented on #62
Which of the following commands yield that error? Could you share more information about the error returned?

[2020-02-28 10:36] vaithak commented on #62
I get the error after running devtools::install(), error log:
[code]

I have not yet tried with CRAN package.

[2020-02-28 10:40] vissarion commented on #62
Are trying to build the `develop` branch ? Which compiler/version? (it seems you are using `clang`)

[2020-02-28 11:05] vaithak commented on #62
Yes, I am compiling the develop branch.
Compiler: Apple clang version 11.0.0 (clang-1100.0.33.8)

[2020-02-28 11:12] TolisChal commented on #62
Please open with R studio the file `volesti.Rproj` in 'root/R-proj` file to be sure that the working directory has been set correctly and then run:
`Rcpp::compileAttributes()
library(devtools)
devtools::build()
devtools::install()
library(volesti)`

Please report possible errors.

[2020-02-28 11:25] vaithak commented on #62
Same errors:
[code]

[2020-02-28 11:37] vaithak commented on #62
Hi, I tried the second way mentioned in README file by using **Build Source** and **Install and Restart** from build menu.
This time I get different errors:
[code]

[2020-03-12 13:28] Hepic opened #65 "Missing flag in a command"
**Describe the bug**
If we execute the command `./generate -cube -h -d 10` from the README, we get the error `The number of facets has to be >= d+1`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the _test_ folder.
2. Compile with cmake and make.
3. Execute the command `./generate -cube -h -d 10`.
4. The error `The number of facets has to be >= d+1` appears.

**Expected behavior**
We

[2020-03-12 14:16] #65 closed

[2020-03-13 16:10] Hepic opened #67 "Error in the .ext file representation"
**Describe the bug**
In the **Polytope input** section of the README, the representation of a V-polytope in a .ext file
contains the line `m d numbertype`, while it should be `m d+1 numbertype`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the _test_ folder.
2. Compile with cmake and make.
3. Execute the command `./generate -simplex -v -d 2`.
4. Open the file _simplex_2.ext_. The co

[2020-03-16 13:34] #67 closed

[2020-03-16 13:35] vissarion commented on #67
Thanks for finding the typo!

[2020-03-23 18:19] jasonNikolaou opened #72 "Sample Points cannot use InnerPoint parameter"
**Describe the bug**
When i use the sample_points function and pass the paramater InnerPoint i get the following
error:
Error in sample_points(P, N = 1, distribution = "gaussian", InnerPoint = point) :
std::bad_alloc

**To Reproduce**
Code:
[code]

**Environment**
Ubuntu 18.04 LTS
Rstudio, compiler version: 3.4.4
volesti version: 1.0.3

[2020-05-17 20:11] Ritik2604 commented on #72
std::bad_alloc is the type of the object thrown as exceptions by the allocation functions to report failure to allocate storage.

[2020-07-22 14:08] vissarion commented on #72
Are you still getting a `std::bad_alloc` in version > `1.1.0`?

The following snipset does not throw a `std::bad_alloc` but does not generate correct points either. It generates multiple copies of the initial point. If you remove the initial point parameter, it seems to work fine. Thus it seems there is a (new) bug while using the initial point parameter.

[code]

*Environment*
Ubuntu 18.04.4 LTS

[2020-07-27 09:25] vissarion commented on #72
I am closing this issue, @jasonNikolaou if you are still facing some related issue feel free to open it again.

[2020-07-27 09:25] #72 closed

[2020-07-29 07:10] vissarion opened #102 "Add examples"
**Is your feature request related to a problem? Please describe.**
It would be very useful to add examples of all algorithms such as volume computation of H-polytopes, V-polytopes, Z-polytopes, sampling from those and rounding.  Now there are only for spectahedra see https://github.com/GeomScale/volume_approximation/tree/develop/examples

**Describe the solution you'd like**
An example should be i

[2020-07-29 08:02] vissarion opened #103 "Khachiyan algorithm for Minimum Volume Enclosing Ellipsoids"
**Is your feature request related to a problem? Please describe.**
Reimplement or find a more efficient implementation for Khachiyan algorithm for Minimum Volume Enclosing Ellipsoids.
See https://people.orie.cornell.edu/miketodd/TYKhach.pdf as a reference.
Currently we use this code  https://github.com/GeomScale/volume_approximation/tree/develop/external/minimum_ellipsoid
which depends on `ublas`.

[2020-07-29 12:38] vissarion opened #104 "macOS-latest (devel) check failure"
This is general problem as described here: https://github.com/r-lib/actions/issues/140

[2020-07-30 09:23] TolisChal opened #105 "Replace Eigen pointers with iterators"
Replace eigen pointers in `hpolytope.hpp` and in the implementations of largest inscribed ball and elipsoid methods.

[2020-08-18 21:12] vaithak commented on #62
Hi, I tried building the package again, this time with gcc but still same error. I think this is an error in devtools which was introduced in macOS Mojave or Catalina.
A point to note is that, if I run the following command from bash in src folder, then there is no error, but the same command when ran through devtools::build gives error.
[code]

I tried changing the -I path in Makevars file from r

[2020-08-18 23:56] vaithak commented on #102
Hi @vissarion, If nobody is working on this. I would like to work on this. I will start by adding examples for volume computation of H-polytopes.

[2020-08-20 23:11] vaithak opened #110 "HPolytope prints -0 when initialised using ine file"
**Describe the bug**
Currently, if you initialise an hpolytope using ine file with 0 entries in it, when printed those entries are printed as -0.

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize a polytope by reading from the ine file used in the docs.
2.  Print the hpolytope read in previous step.
3. See that all 0 entries are displayed as -0.

**Expected behavior**
All 0 entries

[2020-08-23 09:33] shub-garg commented on #105
Hello if nobody is working on it, I would like to contribute to this issue! I am new to open source and trying to work my way to GSOC.

[2020-08-24 10:17] vissarion commented on #104
tests are passing now, I am closing this issue

[2020-08-24 10:17] #104 closed, assigned to nobody

[2020-08-24 10:18] vissarion commented on #105
@shub-garg nobody is working on it, please feel free to give it a try

[2020-08-24 10:22] vissarion commented on #110
Thanks for filing this issue. Please add a minimum failing example, and your setup (OS, compiler, version etc).

[2020-08-24 10:29] shub-garg commented on #105
Can you please guide me a little as to what exactly I need to do in this? As I said, I am new to all this, trying to learn.

[2020-08-24 10:33] vissarion commented on #105
the issues of the library is probably not the best place for this, please join our chat on gitter https://gitter.im/GeomScale/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link, also have a look at this tutorial https://github.com/GeomScale/volume_approximation/blob/develop/CONTRIBUTING.md

[2020-08-24 17:46] vaithak commented on #110
compiler: gcc version 5.4.0
OS: Ubuntu 16.04

**Polytope input "data/cube10.ine" file**
[code]

**Example code**
[code]

**Output:**
[code]

**Expected Result:** In the output above, 0 should be printed as 0 and not -0.

[2020-08-24 18:06] vaithak commented on #103
Hi @vissarion , I will take a look at it. I will first try making it efficient by using Eigen instead of ublas and then try to optimize the algorithm.

[2020-09-08 07:52] #110 closed, assigned to nobody

[2020-09-08 08:10] vissarion opened #114 "Remove eigen external libraries"
**Is your feature request related to a problem? Please describe.**
External libraries consume space in the repository and have to be updated manually.

**Describe the solution you'd like**
Remove them from `external` folder and download them in `cmake` before building the package or whenever needed. This should be straightforward for the cases of `boost` and `eigen`. For `lpsolve` removing from ex

[2020-09-13 09:18] vishkrish200 commented on #114
Hey,

Can I take this issue up?
It would be my first

[2020-09-13 10:07] TolisChal commented on #114
Yes of course. You could work on a new PR.

[2020-09-13 11:01] vishkrish200 commented on #114
Hey,

I am not so familiar with c++ libraries and cmake.
Am I to link the various external libraries in the eigen and boost folders by creating a CMakeLists.txt file for each library?

[2020-09-14 08:20] vissarion commented on #114
I guess there are many possible solutions. One could be to remove the
library from external folder and add some commands to CMakeList in order to
download the needed files before compilation.

On Sun, Sep 13, 2020, 14:01 vishkrish200 <notifications@github.com> wrote:

[2020-09-14 09:17] vishkrish200 commented on #114
when you refer to the CMakeList file, you're talking about the preexisting one present int the examples folder?

[2020-09-14 09:18] vishkrish200 commented on #114
When you refer to the CMakeList file, is it the preexisting one in the examples folder?

[2020-09-14 10:10] vissarion commented on #114
you should start with the main one in `test` directory

On Mon, 14 Sep 2020 at 12:18, Vishnu Krishnan <notifications@github.com>
wrote:

[2020-09-28 14:16] vissarion opened #116 "Code formating"
**Is your feature request related to a problem? Please describe.**
The code contains many styles since we have a few contributors now. So a code formatting tool is needed.

**Describe the solution you'd like**
Clang-format could be used with some well known style, e.g. google format.

[2020-10-12 14:47] TolisChal opened #117 "R interface"
Fix / improve the followings:

1) storing Polytope objects in one session and loading them in another leads to
awkward and unexpected errors:
`Error in sprintf("C++ object <%s> of class '%s' <%s>",
externalptr_address(pointer),'a0 :
'a0 external pointer is not valid`

2) Drop exportPattern("^[[:alpha:]]+") from NAMESPACE file

3) Add flag drop = FALSE to code like  `A = Mat[,-c(1)]`

4) Change inp

[2020-10-19 18:57] papachristoumarios opened #120 "Integral Collocation method is numerically unstable"
**Describe the bug**

The integral collocation method implementation of [this paper](https://arxiv.org/abs/1812.06243) is numerically unstable.
We use the Chebyshev transform class provided by Boost to compute the fixed point operator (Lagrange interpolation at Chebyshev nodes).

The implementation of the ODE solver is located at `include/ode_solvers/integral_collocation.hpp`.

**To Reproduce**
St

[2020-10-21 03:28] papachristoumarios opened #121 "Implement boundary oracle for integral collocation method"
The Integral Collocation method of [this paper](https://arxiv.org/abs/1812.06243) is implemented in volesti under
`include/ode_solvers/integral_collocation.hpp`.

The current state of the solver does not include a boundary oracle (and thus it does not currently support truncation).

The goal of this feature request is to implement a boundary oracle for the method.
More specifically the boundary or

[2020-10-21 23:52] papachristoumarios opened #122 "Change representation of multiple domains in ODE solvers interface"
Instead of defining `std::vector<Polytope*>` to represent a list which has elements either a Polytope
or `NULL` to represent R^d.

We want to change this structure to `std::vector<Polytope>` and the representation of R^d should be
handled inside the corresponding polytope classes.

[2020-10-21 23:55] papachristoumarios opened #123 "Implement NUTS"
Implement NUTS sampling from [this paper](http://www.stat.columbia.edu/~gelman/research/published/nuts.pdf).
Ideally, we want the NUTS criterion to be modular, i.e. be combined with any HMC-related sampler (e.g. via changing
the ODE solver).

[2020-10-22 07:57] vissarion commented on #121
Thanks for adding this issue.

For 1. could you please provide a link to the implementation?
For 2. can you elaborate,

[2020-11-05 20:52] papachristoumarios opened #125 "Add support for Hit and Run for general densities"
**Describe the solution you'd like**

Adapt the existing functionality of `volesti` for hit-and-run walk (both randomized and coordinate directions versions) to support arbitrary target densities, e.g. log-concave.

The current support include uniform and Gaussian densities.

[2020-11-06 12:13] vissarion commented on #102
This is still an open issue. More examples are needed.

[2020-11-12 10:56] vissarion opened #126 "Documentation"
**Is your feature request related to a problem? Please describe.**
Improve documentation by using some specialized software for this case, e.g. https://www.mkdocs.org/. Other suggestions?

[2020-11-30 09:37] dragon-booster629 commented on #126
Process Street

[2020-12-29 07:49] codeakki commented on #116
may I work on this issue if u guide me a little bit because I'm new here .

[2020-12-29 14:42] vissarion commented on #116
@codeakki you are welcome to propose a PR that changes the format of a small part of library e.g. tests. Please read our contributions guide.

[2021-01-25 13:52] cbachela opened #128 "Bug in vol_Ali"
Bug in function vol_Ali (called by function frustum_of_simplex) in the arithmetic operations that adds an error in the computations which vanishes in high dimensions.

[2021-01-27 07:58] antreev-brar commented on #102
I would like to work on this issue

[2021-01-27 08:16] vissarion commented on #102
@antreev-brar sure, please submit your PR.

[2021-01-28 19:54] vaithak commented on #105
Hi, I am just curious why do you want to replace the pointers? I am asking because firstly, Eigen doesn't provide begin() or end() methods for its matrix and vector class, also I read this answer: [https://stackoverflow.com/a/16287999](https://stackoverflow.com/a/16287999), which benchmarks different ways of traversing EIgen matrix and the one using pointer and .data() method is the fastest.

Plea

[2021-02-01 12:35] vissarion commented on #105
@vaithak thanks for your search. Iterators are safer and less error-prone than pointers.

First, eigen supports STL compatible iterators https://eigen.tuxfamily.org/dox-devel/group__TutorialSTL.html since 3.4.

Second, it is not clear to me whether pointers are faster than iterators since the benchmarks in https://stackoverflow.com/a/16287999 are >6 years old and does not contain important informa

[2021-02-01 12:53] vaithak commented on #103
I have created a PR for replacing `ublas` with `Eigen`, currently one of the test case is failing on my system ("volume_cb_uniform_zonotope"). I am debugging it, it would be great if anyone can help me in finding what is causing the test case to fail ?

**Edit:** I have fixed the code which was causing one test case to fail.

[2021-02-01 13:52] vaithak commented on #105
Thanks @vissarion for your response. Does the repository contains the updated version (3.4) of Eigen in external folder ? I don't think so, as the commit history shows that Eigen folder was updated 2 years ago, so should I update it ?
If yes, then I think I should also give #114 a try, as it requires removing manual updating of external libraries.

[2021-02-01 14:18] vissarion commented on #105
Yes, I think it makes more sense to go directly to https://github.com/GeomScale/volume_approximation/issues/114 (or part of it) by removing eigen from external and add some cmake commands that allow the user to download and/or use the system installed eigen.

[2021-02-19 10:20] #128 closed, assigned to nobody

[2021-02-19 11:01] AlexManochis opened #134 "Redundant C++ tests"
In folder `test` there are a few `C++` tests for the previous code structure and interface, e.g. `vol.ccp`, that can be safely removed. This will improve the performance of the CI suites.

[2021-02-19 16:54] vissarion commented on #13
@arbenede  is this still an issue with current develop?

[2021-02-23 22:38] parsifal9 opened #136 "R code for Sampling: volesti vs hitandrun -- S4 classes"
Working through the example "Sampling: volesti vs hitandrun"
[code]
P is an S4 object
[code]
so the code should have "@" rather than "$", like this
[code]
Bye

[code]

[2021-02-24 12:48] TolisChal commented on #136
Hi parsifal9 and thanks for opening the issue. The examples in https://arxiv.org/abs/2007.01578 use volesti 1.1.1 and not 1.1.2.
You should use v1.1.1 to run those examples as they are.
v1.1.2 includes a few changes in the interface, e.g. polytopes classes are S4 classes.

[2021-02-24 21:49] parsifal9 commented on #136
Thanks for that. I should have checked the version number.

[2021-02-24 21:49] #136 closed, assigned to nobody

[2021-03-01 09:44] vaithak commented on #122
Hi @papachristoumarios, I want to give this a try. Can you give some more details about this?

[2021-03-01 10:45] vaithak commented on #105
@vissarion @TolisChal , I think we should wait for a stable release of Eigen 3.4 for this. I tried using the 3.4.0-rc1 to get the features of iterators in Eigen, but some of the test cases are failing even without any new code changes.

[2021-03-02 14:56] vissarion opened #139 "Code coverage for volesti"
**Is your feature request related to a problem? Please describe.**
It would be nice to have code coverage for volesti.

**Describe the solution you'd like**
We could use codecov https://about.codecov.io/

[2021-03-03 21:58] papachristoumarios commented on #122
Hi @vaithak,

The question refers to refactoring the current ODE solvers to take vectors of polytopes (or references to polytopes) and not pointers (see here: https://github.com/papachristoumarios/volume_approximation/blob/icml-2021/include/ode_solvers/leapfrog.hpp).

In the existing implementation, we have assumed that the euclidean space R^d is represented by a NULL pointer. The reason for defin

[2021-03-03 22:00] papachristoumarios commented on #122
The whole reason behind this is better (and less error-prone) memory management.

[2021-03-04 13:23] vissarion commented on #114
Closed by https://github.com/GeomScale/volume_approximation/pull/131

[2021-03-04 13:23] #114 closed, assigned to nobody

[2021-03-04 13:25] vissarion opened #140 "Remove boost external libraries"
**Is your feature request related to a problem? Please describe.**
External libraries consume space in the repository and have to be updated manually.

**Describe the solution you'd like**
Remove `boost` from `external` folder and download them in `cmake` before building the package or whenever needed.

See how this was done for eigen https://github.com/GeomScale/volume_approximation/pull/131

[2021-03-04 13:26] vissarion opened #141 "Remove lpsolve external libraries"
**Is your feature request related to a problem? Please describe.**
External libraries consume space in the repository and have to be updated manually.

**Describe the solution you'd like**
Remove `lpsolve` from `external` folder and download them in `cmake` before building the package or whenever needed.

See how this was done for eigen https://github.com/GeomScale/volume_approximation/pull/131

[2021-03-04 13:28] vissarion commented on #62
@vaithak does https://github.com/GeomScale/volume_approximation/pull/137 solves your issue?

[2021-03-04 13:30] vissarion commented on #13
Since this is quite old I am closing the issue. If this is still a problem @arbenede feel free to open it again.

[2021-03-04 13:30] #13 closed

[2021-03-04 13:37] vissarion commented on #103
We are not dependent on this part of code any more so https://github.com/GeomScale/volume_approximation/pull/129 is enough to close this issue.

[2021-03-04 13:37] #103 closed, assigned to nobody

[2021-03-04 16:20] vaithak commented on #62
I debugged this issue properly today, #137 helped a little, but the main issue was with macOS. Firstly, I had to follow the steps here: https://cmichel.io/fixing-cpp-compilation-bugs-for-the-mac-os-catalina-upgrade/ to fix the issue with Catalina. Other than this, GCC was not using the `colamd.h` in `external/LPsolve_src/include` but instead using the system installed one in `/usr/local/include` w

[2021-03-04 16:20] #62 closed

[2021-03-06 08:36] vaithak commented on #122
@papachristoumarios I think this can be solved by representing R^d as a polytope with each coordinate from -inf to inf, also we need to make appropriate changes if necessary in computing intersections and reflections. This would mean that `line_itersect` step [here](https://github.com/papachristoumarios/volume_approximation/blob/icml-2021/include/ode_solvers/leapfrog.hpp#L140) would be computed fo

[2021-03-06 23:09] papachristoumarios commented on #122
Hi @vaithak,

If R^d can be represented as an instance (and preferably a singleton) of a Polytope-type class, all the oracles (membership, line intersection etc.) must return answers in **O(1)** time. That said, you should have a boolean flag in the polytope classes indicating this case and you should place if statements at the start of the desired methods. That said, it is not efficient to run an

[2021-03-12 08:05] angelosps commented on #140
Hello,
May I get this one? It will be my first

[2021-03-12 08:40] vissarion commented on #140
@angelosps thanks for your interest. There is no permission needed to work on an issue.
There exist a PR already for this issue https://github.com/GeomScale/volume_approximation/pull/145
Although this is not a prohibitive fact it is a better idea to choose another issue for your first one.

[2021-03-12 13:04] angelosps commented on #140
I will do. Thanks!

[2021-03-15 09:30] vaithak commented on #122
Thanks for replying 🙂. Yup, I get your point. I am currently stuck in some other thing so didn't get a lot time to look at the code, will do it soon. What I was thinking was, in ODE solvers hpolytopes are used for bounds, right ? And as you suggested, it wont be right to also consider R^d as a polytope, so how about we instead make another class - Bounds (or InputSpace) or anything similar to hand

[2021-03-16 04:23] papachristoumarios commented on #122
Thanks! Yes you can do something like this. Moreover we are striving for  simplicity regrading the techniques we use so that the resulting code is fast (that's why almost all classes are templated, we do not use inheritance and so on). If in the case of very large tests there's insignificant increase in the runtime then we can have it. Also cc'ing @vissarion.

[2021-03-19 23:54] TolisChal opened #148 "Remove macro #VOLESTIPY"
The macro VOLESTIPY is used to exclude the header files that call the `lpsolve` library. See for example `./include/convex_bodies/hpolytope.h`, where the lpsolve is used to compute the maximum inscribed ball of an H-polytope.

We should restructure the code such that VOLESTIPY macro is not needed any more.

[2021-03-21 00:53] backbencher00 commented on #141
sir could you assign me this issue, I would like to work on this

[2021-03-21 10:18] vissarion commented on #141
No need to ask permission to work on an issue. Please submit a pull request
and this will be reviewed in a first come first serve basis.

On Sun, Mar 21, 2021, 02:54 SOURABH SINGH ***@***.***> wrote:

[2021-03-23 16:52] vaithak commented on #140
I think this can be closed now by #145.

[2021-03-23 17:00] vissarion commented on #140
FYI, if you link the issue with the PR then when the PR is merged the issue is closed automatically

[2021-03-23 17:00] #140 closed, assigned to nobody

[2021-03-29 19:05] ManavShah05 commented on #141
I have created a pull request here: https://github.com/GeomScale/volume_approximation/pull/149

[2021-03-30 07:41] vissarion commented on #141
Thanks, please link this issue on your PR (there is a option in the PR page).

[2021-03-31 07:40] pradeexsu commented on #139
I have made pr for this feature #150, please review it

[2021-03-31 07:48] pradeexsu commented on #117
@vissarion, is this issue still need to do something?, should I work on this if it's needed?

[2021-03-31 13:57] pradeexsu opened #151 "Put all .cmake files in one directory"
**Is your feature request related to a problem?**
No, it's not related to any problem, it's about the convention that makes our code more structured.

**Request Description**
there are only 2 .cmake files `Eigen.cmake` and `Boost.cmake`, but in the future, there can be too many `.cmake` files. like.
- requires `lp_solver.cmake` for #141
- requires `CodeCoverage.cmake` #139
- requires `ClangFormat.

[2021-04-02 08:56] backbencher00 commented on #134
Could you please assign this task to me

[2021-04-02 09:03] vissarion commented on #134
Please go ahead and submit a PR.

[2021-04-02 10:14] surajchoubey commented on #134
```vol.cpp``` is meant to be removed right?
I ran the tests without it and it tests works fine.
Is it the thing or do you mean to convey something else?

[2021-04-02 12:12] vissarion commented on #134
`vol.cpp` is an example. All files that does not appear in the `CMakeList.txt` can be safely removed. Also there could be other tests that appear in ` CMakeList.txt`  are not needed or are duplicates.

[2021-06-10 08:40] #134 closed, assigned to nobody

[2021-06-15 14:55] imitator19 opened #164 "No file: convex_bodies/ellipsoids.h"
When I tried to install the volesti package using the "build source package" in "Build" of Rstudio, it failed due to the following reason:
In the file "copula.cpp" there is a line: #include "convex_bodies/ellipsoids.h"
However, there is no file named  "convex_bodies/ellipsoids.h" .

Hoping that the file "convex_bodies/ellipsoids.h"  can be added.

[2021-06-16 02:54] #164 closed, assigned to nobody

[2021-09-11 08:57] hjnnjh opened #174 "Python Interface Installation failed"
**Describe the bug**
When I try to install python interface of the repo, I got this error, shown in the following picture. There is not the boosl/random.hpp file in the repo. I followed the installation guide in the MD file.
![7c28a21849fb4021b20340f6c43a214](https://user-images.githubusercontent.com/37699150/132942314-feb04551-2e77-4339-a4f7-4f1c020909db.png)

**Desktop (please complete the follo

[2021-09-13 06:27] vissarion commented on #174
The python interface is moved to a new package https://github.com/GeomScale/dingo
Please use that package instead, the interface in this repo is deprecated.

[2021-09-18 08:21] hjnnjh commented on #174
Thank you!

[2021-09-20 07:19] #174 closed, assigned to nobody

[2021-09-22 10:56] vaithak opened #179 "max_inscribed_ellipsoid takes too much time"
**Describe the bug**
I am trying to  (approximately) compute the number of linear extensions of a poset by computing the volume of it's corresponding order polytope.
My poset instance has 100 dimensions and has the following adjacency matrix: [link to the file](https://gist.github.com/vaithak/936efac898a56aa7da72d2ef49e1d2e7#file-bipartite_0-5_100_3-txt)

The instance is taken from this [repo](htt

[2021-10-01 12:09] TolisChal opened #180 "Inefficient handling of burn in phase in sampling functions"
In header `include/sampling.hpp` the sampling functions do not handle the burn in phase efficiently.
They store the points of burn in phase and then they delete them.

`RandomPointGenerator::apply(P, p, c, a, eta, nburns, walk_len, randPoints,
                                    push_back_policy, rng);
        randPoints.clear();`

We need a new function to perform the burn in phase efficiently.

[2021-10-04 08:56] TolisChal commented on #148
The macro has been removed in https://github.com/GeomScale/volesti/pull/144

[2021-10-04 08:56] #148 closed, assigned to nobody

[2021-10-07 13:14] abmukh opened #182 "CMakeLists not creating requested executable. Default executable ( Makefile) fails to run"
Created a folder called Sampling within vol-test/Examples to test small sampling codes. Modified an appropriate CMakelist file
![CMakeListsmodified](https://user-images.githubusercontent.com/87852739/136388095-de8100d8-30b0-46ef-b136-c2c9412a82ea.png)
It does not produce the executable as requested , but simply generates a "makefile". Neither does it generate the sub directory as requested. It doe

[2021-10-07 14:18] vissarion commented on #182
Thanks @abmukh for reporting this issue!

First, please do not include screenshots with code (your `CMakeList.txt` file) but use instead markdown see https://guides.github.com/features/mastering-markdown/

Second, you have to share more information to be able to reproduce your issue. For example, where is your CMakeList.txt saved? I guess in `examples/sampling`. Then `add_subdirectory(sampling)` s

[2021-10-08 08:48] abmukh opened #184 "Some headers don't compile independently"
Tried executing a basic try code `Try1.cpp` in `vol_test/examples/Sampling_New`:
[code]
Returned the following error (`sqrt`,`pow` not a member of `std`):
![cmath_error](https://user-images.githubusercontent.com/87852739/136526657-d66ccf04-8ba1-442b-9051-e4d65b158b16.png)
Resolved that by using `#include<cmath>` . However `cmath` ideally should not have been needed to be included.

[2021-10-08 10:33] vissarion commented on #184
This is part of a more general issue probably. Could you test which headers cannot be included separately?

[2021-10-08 14:18] #141 closed, assigned to nobody

[2021-10-08 16:33] Pradumnasaraf opened #185 "Adding License and Contribution Section in README"
- Adding License and Contribution Section in README.
- Instead of simple text adding Hyperlink.
![1](https://user-images.githubusercontent.com/51878265/136592502-4916f864-50ec-4799-9187-2ece0516f632.png)

[2021-10-09 17:07] abmukh commented on #184
I did a partial check. The try code is available as the same name in the same directory, now modified . Here is what I found :
**Those that need headers :**
1. Containers ( Checked for `<array>`,`<deque>`,`<forward_list>`,`<map>`,`<unordered_map>`,`<unordered_set>`,`<stack>`,`<queue>`,`<vector>`)
2. Numeric Limits (Checked for `<cfloat>`,`<cinttype>`,`<climits>`,`<cstdint>`)
3. Numeric Library ( C

[2021-10-10 05:36] aditiaher commented on #184
Try by adding header file #include<bits/stdc++.h>

[2021-10-11 07:20] vissarion commented on #185
Thanks for the interest in `volesti`. There is a link in README on Contributing. Regarding license link, I do not found it very important but feel free to propose a PR with that addition. I will happily review it.

[2021-10-11 07:20] #185 closed, assigned to nobody

[2021-10-12 13:42] vissarion commented on #184
The goal here is that **every** header file should include the headers that are needed to be included autonomously. For example, the issue above is caused by  `boundary_cdhr_walk.hpp` that misses `#include<cmath>`.

@abmukh if you want to give it a try please open a PR.

[2021-10-18 12:33] #139 closed, assigned to nobody

[2021-10-20 09:08] vissarion opened #189 "Reach 70% coverage"
Since https://github.com/GeomScale/volesti/pull/188 `volesti` has automatic coverage reports with the help of `CircleCI`.

However, after merging https://github.com/GeomScale/volesti/pull/188 the coverage of the code is rather low (<60%).

In this issue we could aim for 70% coverage by adding *simple* and *fast* unit tests in the test suite.

[2021-11-20 10:35] vaithak opened #191 "Integrate Codecov's Github app with Geomscale"
**Is your feature request related to a problem? Please describe.**
Codecov has been enabled on the repo by #188. The aim is that whenever a new PR is made, Codecov should report any changes to the coverage as a comment to that PR.

**Describe the solution you'd like**
This can be done by integrating Codecov's Github app with GeomScale org. I think this can be done by simply installing the Codecov

[2021-11-22 15:57] vissarion commented on #191
Thanks for this issue. This is addressed by https://github.com/GeomScale/volesti/commit/430d8cf77ccde19afaf6452f4b0c2cdf6bada2de

[2021-11-22 15:57] #191 closed, assigned to nobody

[2021-11-29 08:22] YunMoZhang opened #192 "Compiling Example(hpolytope-volume) c++ interface failed"
I'm testing the c++ interface of hpolytope-volume.

Under the folder examples/hpolytope-volume, I have tried two types of cmake,
When I run：
[code]
succeed, but after that, when I run
[code]
Error appeared:
[code]

So I have tried another cmake:

[code]

another error repoted:
[code]

Could anyone tell me how to solve this problem or compile and test the c++ interface under other folders in volest

[2021-11-29 13:55] vaithak commented on #192
Hi @YunMoZhang, there is an open PR related to build of examples - #190, the discussion is still going on so
`-DEXAMPLES=hpolytope-volume` is not yet merged into the develop branch.
For now, I would suggest you can comment out the `add_subdirectory` commands for examples you don't want to run in the `examples/CMakeLists.txt` - https://github.com/GeomScale/volesti/blob/develop/examples/CMakeLists.t

[2021-11-30 01:19] YunMoZhang commented on #192
It works for me.
Thank you very much.

[2021-11-30 01:19] #192 closed, assigned to nobody

[2021-12-10 09:28] vissarion opened #193 "Fix examples and CI integration"
**Is your feature request related to a problem? Please describe.**
Even after the useful PR https://github.com/GeomScale/volesti/pull/190 some examples are still failing to compile.

**Describe the solution you'd like**
Some have an easy fix e.g. `vpolytope-volume` while some other e.g. `EnvelopeProblemSOS` need some work to fix the cmake (at least in my `Ubuntu 20.04` with `gcc` version `9.3.0` I

[2021-12-14 13:16] #151 closed, assigned to nobody

[2021-12-15 21:02] Sajal193 commented on #193
Hi I'd like to contribute to this. This seems to be me a very exciting repo where I can explore and develope new skills in programming. Kindly assign me this issue....

[2021-12-16 09:22] vissarion commented on #193
@Sajal193 thanks for your interest in the project, please go ahead and submit a PR, providing as much information as possible.

[2021-12-19 04:16] Sajal193 commented on #193
As I'm new to this tech stack, I'm acquiring data to be able to understand the issue properly and then make a PR

[2021-12-19 04:16] Sajal193 commented on #193
Thank you for considering me for the role

[2022-01-09 16:22] Sharmalm commented on #193
Hi i'd like to contribute to this issue. i am new to GitHub so please guide me how to get started with this issue .
i have doubt  that how i search in the codes in this repo for this issue. please explain me more about  this issue

[2022-01-09 20:45] vissarion commented on #193
Thanks for your interest in the project!

Regarding getting started with github there are plenty of useful docs https://docs.github.com/en/get-started

As for this issue we essentially like to build volesti examples using github actions. If you have any specific question please let us know.

[2022-01-10 18:31] Sharmalm commented on #193
i don't able  to understand this issue .can you please elaborate how to approach solution  to this problem .

[2022-01-28 15:51] purna135 commented on #180
I would like to work on this issue

[2022-02-08 12:46] imitator19 opened #198 "Instructions for installing volestipy in windows platform"
I am trying to install the python package volestipy on a computer with win-10 rather than linux. I hope that the instructions for the command line installation of volestipy can be kindly provided. I think there maybe many others like me with a win-10 laptop and eager to explore volesti using python. Thank you!

[2022-02-08 13:02] Dhairya3124 commented on #198
Hey @imitator19 This issue is similiar to #13.

[2022-02-08 13:08] imitator19 commented on #198
@Dhairya3124 Thanks!

[2022-02-08 13:08] #198 closed, assigned to nobody

[2022-02-19 11:41] shahpratham commented on #193
I tried to fix Cmake. I wanted to ask if a new .yml file is expected to compile CMakeLists of all examples?

[2022-02-21 15:47] vissarion commented on #193
There is no need for a new .yml files but the current one could compile all the examples after or before compiling and executing all tests.

[2022-02-21 19:07] hariszaf opened #200 "Remove volestipy directory"
If I am not mistaken the [`volestipy`](https://github.com/GeomScale/volesti/tree/develop/volestipy) folder
can be now removed.

[2022-02-21 19:26] papachristoumarios opened #201 "Automatic differentiation support"
It would be a very nice feature to include automatic differentiation support within the functors, so that the gradients can be computed from the automatic differentiation software.

Automatic differentiation references and libraries:

1. https://mc-stan.org/users/interfaces/math.html
2. https://github.com/autodiff/autodiff
3. https://www.boost.org/doc/libs/master/libs/math/doc/html/math_toolkit/au

[2022-02-22 09:16] #201 closed, assigned to nobody

[2022-02-22 09:17] #126 closed, assigned to nobody

[2022-02-22 09:19] #116 closed, assigned to nobody

[2022-02-22 09:23] vissarion commented on #182
This should be fixed by https://github.com/GeomScale/volesti/pull/190
If still a problem @abmukh please feel free to open the issue again.

[2022-02-22 09:23] #182 closed, assigned to nobody

[2022-02-22 09:24] #189 closed, assigned to nobody

[2022-02-22 16:29] #200 closed, assigned to nobody

[2022-02-25 19:39] Neel-Shah-29 commented on #184
Hello i would like to try this issue. I only need to include the cmath header file in `boundary_cdhr_walk.hpp` right?
Also if there are any other header files that needs to be included than kindly let me know. Thanks!

[2022-02-26 14:42] Rajat1206 commented on #180
I'd like to work on this issue if it's still open!

[2022-02-26 14:46] Rajat1206 commented on #193
I'd like to work on this issue if still possible!

[2022-02-27 08:42] shahpratham commented on #193
Hii @vissarion. To compile CMakeList of `examples/optimization_spectrahedra`, we need these libraries openblas, lapack and arpack. It would be somewhat difficult to add this in github actions to install this, according to the steps mentions on how to compile.

So should I skip compiling it? Rest all examples are successfully compiling in the CI.

[2022-02-27 17:56] himanshuParashar0101 commented on #193
Hi i'd like to contribute to this issue. i have some ideas for this issue I  want to try on this ,kindply please assign this issue

[2022-02-27 17:58] himanshuParashar0101 commented on #184
hi kindly assign this issue to me
 I think we should  give all the header file into a one header file likes its kind of merging the header file and making our own header that reads the data from it

[2022-02-27 18:01] himanshuParashar0101 commented on #105
we can replace the data flow of eagens

[2022-02-27 18:38] Neel-Shah-29 commented on #184
Hey @himanshu i am already trying this issue and have sent a PR regarding it , so you can give your suggestions in PR if you want ,i can resolve it .

[2022-02-28 08:07] shahpratham commented on #193
hey @himanshuParashar0101. I have almost completed this issue, I just wanted to ask whether to include compilation of `examples/optimization_spectrahedra` in github actions as it requires installation of openlas lapack and arpack.

[2022-02-28 09:35] vaithak commented on #105
@himanshuParashar0101 yup, this issue can be worked on now as we have upgraded eigen's version to 3.4.0 in #186.

[2022-03-03 17:26] himanshuParashar0101 commented on #193
yess

[2022-04-29 06:14] imitator19 opened #217 "Volesti v1.1.4 installation failure (R interface)"
Hello everyone, I am trying to upgrade Volesti from 1.1.3 to 1.1.4 in R. The operation system is win10, with R 4.1.0 and Rtools properly installed.
The installation instruction in the following link can successfully install volesti 1.1.3, howerver, it cannot install volesti 1.1.4 successfully. https://github.com/GeomScale/volesti/blob/2e6572d9ba757de311f2a55b09abf8f9c02e932e/doc/r_interface.md

I

[2022-04-29 06:28] imitator19 opened #218 "Volesti 1.1.4 installation error"
Hello everyone, I am trying to upgrade Volesti from 1.1.3 to 1.1.4 in R. The operation system is win10, with R 4.1.0 and Rtools properly installed.
The installation instruction in the following link can successfully install volesti 1.1.3, howerver, it cannot install volesti 1.1.4. https://github.com/GeomScale/volesti/blob/2e6572d9ba757de311f2a55b09abf8f9c02e932e/doc/r_interface.md

I tried to inst

[2022-04-29 06:40] #218 closed, assigned to nobody

[2022-05-15 08:53] masinag opened #219 "Wrong volume computation"
I'm currently using VolEsti to compute the integral of polynomials over polytopes. Generally it works very well, however I noticed that sometimes the output is very far from the expected result.
For instance, I had to compute the volume of the following HPolytope. I have a file polytope.hrep containing:
[code]
If I try to compute the volume of this polytope using the code of examples/hpolytope-vol

[2022-05-16 18:38] #219 closed, assigned to nobody

[2022-05-16 18:39] masinag commented on #219
Solved by using CoolingBalls with CDHR random walk

[2022-06-14 07:24] zhanggiene opened #220 "some logconcave examples are not working with MKL"
**Describe the bug**
exponential_exact_hmc.cpp. and gassian_exact_hmc and high_dimentional_hmc.cpp are not working well.  The first two files produce core dumped error and the last file produce segmentation fault.

**Desktop **
 - OS: Ubuntu 20.04.4 LTS

[2022-06-14 09:47] zhanggiene commented on #220
**To Reproduce**
Steps to reproduce the behavior:
1. Change to develop branch, go to logconcave directory
[code]
2. Build executable files
[code]
3 Run the relevant executable files
[code]
4 See error
[code]

[2022-06-21 13:23] vissarion commented on #220
I cannot reproduce it in same system with `gcc-9` on `x86_64`. What is your compiler / architecture?
Also what version of MKL are you using? If you are using the new `oneMKL` the after following the [installation instructions](https://www.intel.com/content/www/us/en/develop/documentation/installation-guide-for-intel-oneapi-toolkits-linux/top/installation/install-using-package-managers/apt.html) yo

[2022-06-27 08:00] zhanggiene commented on #220
i am using gcc-9 on x86_64,linux gnu. I have already set set(MKLROOT /opt/intel/oneapi/mkl/2022.0.2).However, a new error comes out. "error while loading shared libraries: libmkl_intel_ilp64.so.2: cannot open shared object file: No such file or directory". I solved this error by running:
[code]
This error can be solved by the following command as well:
[code]

[2022-06-27 08:02] vissarion commented on #220
Thanks @zhanggiene ! I am closing the issue as fixed.

[2022-06-27 08:04] zhanggiene commented on #220
While there is no errror during compilation, the issue(some logconcave examples are not working with MKL) is not solved.

[2022-06-27 08:06] zhanggiene commented on #220
This is the exact Library i used. https://www.intel.com/content/www/us/en/developer/tools/oneapi/onemkl-download.html?operatingsystem=linux&distributions=webdownload&options=offline

[2022-06-28 09:01] zhanggiene opened #223 "Invalid output when sampling from hpolytope"
**Describe the bug**
I am trying out sampling-hpolytope in the examples. [cpp file](https://github.com/GeomScale/volesti/tree/develop/examples/sampling-hpolytope-with-billiard-walks)
**compiler/OS/architecture**
GNU 9.4.0/Ubuntu 20/x86_64
**To Reproduce**
i have installed the Libraries LP_solve and i added the following code in CMake file
[code]
Here is the content for the whole Cmake file:
[code]

[2022-07-01 12:49] vissarion commented on #217
It seems that v1.1.4 builds correctly on windows on CI see https://github.com/GeomScale/volesti/runs/5186310857?check_suite_focus=true

What if you follow the instructions in the corresponding workflow?
https://github.com/GeomScale/volesti/blob/develop/.github/workflows/R-CMD-check-windows.yml

However, this is a workaround since the workflow generates and builds the cran package.

[2022-07-01 15:30] vissarion commented on #223
Thanks for reporting. I can reproduce the results.
Note that if you change `typedef BilliardWalk::template Walk<HPOLYTOPE, RNGType> BilliardWalkType;` in line 27 to `typedef CDHRWalk::template Walk<HPOLYTOPE, RNGType> BilliardWalkType;` it works correctly so it is probably an issue of the billiard walk sampler.

[2022-07-17 20:52] zhanggiene commented on #220
I have updated the mkl system,here is the updated cmake result.
[code]
I have deleted the old mkl version and installed the new version, but the same issue remains and all three files have the same issues.
[code]

[2022-07-21 16:13] zhanggiene commented on #223
it is an issue of billiard walk sampler. When i change to CDHRWalk::template Walk<HPOLYTOPE, RNGType> BilliardWalkType, sampling values are at least not zero.

[2022-07-21 16:18] zhanggiene commented on #220
I think the issue is with the random point generator from [volesti](https://github.com/GeomScale/volesti/tree/73608a4667ed8fe495a9fbdcb141a14c3e441f1b)/[include](https://github.com/GeomScale/volesti/tree/73608a4667ed8fe495a9fbdcb141a14c3e441f1b/include)/[sampling](https://github.com/GeomScale/volesti/tree/73608a4667ed8fe495a9fbdcb141a14c3e441f1b/include/sampling)/random_point_generators.hpp
During

[2022-07-22 07:34] zhanggiene commented on #220
I have narrowed down the issues, In [volesti](https://github.com/GeomScale/volesti/tree/45dd96ddb70bbdbf3257a9087fc7bdf679c0a32c)/[include](https://github.com/GeomScale/volesti/tree/45dd96ddb70bbdbf3257a9087fc7bdf679c0a32c/include)/[random_walks](https://github.com/GeomScale/volesti/tree/45dd96ddb70bbdbf3257a9087fc7bdf679c0a32c/include/random_walks)/exponential_hamiltonian_monte_carlo_exact_walk.h

[2022-07-22 12:37] vissarion commented on #220
Thanks! But where is your fix? Please open a PR and link this issue.

BTW you can refer to lines of code like this: https://github.com/GeomScale/volesti/blob/develop/include/random_walks/exponential_hamiltonian_monte_carlo_exact_walk.hpp#L113

[2022-07-25 17:23] zhanggiene commented on #223
The root cause of this issue is the same as #220. I will close this issue now.

[2022-07-25 17:23] #223 closed, assigned to nobody

[2022-08-01 21:40] michiexile opened #236 "Segfault sampling from HPolytope in R"
**Describe the bug**
R segfaults when trying to draw random points from a randomly generated 5-dimensional HPolytope.

**To Reproduce**
Steps to reproduce the behavior:

1. Instantiate an HPolytope with the following data:
[code]
2. Sample random points from this polytope.

**Expected behavior**
Generate random points.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-08-28 13:52] Ayantik2002 commented on #236
Hi I would like to take up this issue but I am unable to get the R commands for initializing the polytope. Could you please refer me to the relevant document? Also please point me to the relevant section of the codebase where I should be looking at.

[2022-08-30 19:49] michiexile commented on #236
Trying to recreate a minimal working example, it seems like I did not manage to extract all the defining data for an HPolytope from the crashing computations.

[2022-09-06 08:25] vissarion commented on #236
@michiexile thanks for opening this issue. Could you please give more information about your input? I cannot reproduce as is. You are mentioning that you have a 5-dimensional Hpolytope but you are providing a 5x25 matrix which defines a 4-dimensional HPolytope. What is matrix `A`, `b`? Which function did you use to generate the polytope?
Please refer to the documentation of the R interface here: h

[2022-09-08 15:18] huuphuocle opened #242 "Bug with doctest v.1.2.9 on Ubuntu 22.04"
Bug for building tests with doctest v.1.2.9 on Ubuntu 22.04: error:

[code]
A fix can be done by replacing test/doctest.h with a newer version of doctest (v.2.4.8), found at:
https://github.com/doctest/doctest/blob/v2.4.8/doctest/doctest.h

[2022-09-29 13:33] iakoviid opened #246 "Sampling polytopes with constraints in equality form"
Extend polytope sampling to handle equality form constraints, such as Aeq x=b, x >= lb.

[2022-11-03 19:12] #242 closed, assigned to nobody

[2022-11-07 13:24] masinag opened #250 "Set random seed in MC integration"
Currently the `simple_mc_polytope` and `simple_mc_polytope_integrate` functions do not allow to set the random seed to initialize the RNG. This feature is needed for having reproducible results.

A simple solution would be to add a `seed` parameter to such functions and cal the `set_seed` method on the RNGs within the function.

[2022-11-07 13:45] vissarion commented on #250
Thanks for your question.

The random seed is set in https://github.com/GeomScale/volesti/blob/develop/include/generators/boost_random_number_generator.hpp#L60. See for example how this is done for volume computation https://github.com/GeomScale/volesti/blob/develop/test/volume_sob_hpolytope.cpp#L122 (there the seed is `123`). You should be able to do the same for integration functions.

Does this

[2022-11-07 14:11] masinag commented on #250
Yes, thank you. However, in this way the seed has to be known at compile time, we cannot set it with the value of a parameter at runtime. Am I wrong?

[2022-11-07 14:42] vissarion commented on #250
There is the `set_seed` https://github.com/GeomScale/volesti/blob/develop/include/generators/boost_random_number_generator.hpp#L47 function that can be used for setting a runtime seed.

[2022-11-07 14:52] masinag commented on #250
Yes, that's what I was suggesting.
However, the RNGs are instantiated within the `simple_mc_polytope_integrate` function, so the function would need a further parameter `seed` to set the seed on the instantiated RNGs.
The RNGs are two, one for the volume computation with `d=P.dimension()`, the other for the points sampling with `d=1`, if I understand correctly

Alternatively, the function can get

[2022-11-08 07:34] vissarion commented on #250
I think we should be as close to the interface of volume functions as possible. Thus, this is your second proposal, i.e. to add an `rng` parameter to the integration function. Are you interested to propose a PR with this change? I can help and review it.

[2022-11-08 11:54] masinag commented on #250
Sure, thank you!

Related to this, I think there is a bug here
https://github.com/GeomScale/volesti/blob/7cdeae2a041da36158d25053646f1c28e9578eb5/include/integration/simple_MC_integration.hpp#L154

Shouldn't RNG be initialized with `d=P.dimension()` instead of 1? In fact, I observed strange results while sampling using the CDHR walk, as the random points lied on an axis-aligned line.

In particula

[2022-11-08 12:02] vissarion commented on #250
You are right! The initialization is wrong and probably related to the axis-aligned random points you observe.

[2022-11-09 20:12] #250 closed, assigned to nobody